@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  background-color: #d6457c;
}

.homeBg {
  /* background-color: linear-gradient(from left, #201616, #ff69b4); */
  background-image: url('./assets/home.jpg');
  background-image: linear-gradient(
      to right,
      rgba(32, 22, 22, 1),
      rgba(214, 69, 124, 1)
    ),
    url('./assets/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  background-blend-mode: screen;
}
