@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  width: 398px;
  display: flex;
  background-color: rgb(250, 214, 220);
  justify-content: center;
}

.homeBg {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('./assets/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  background-blend-mode: color;
}
